* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.login-box {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 2rem;
}

.logo-img {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
}

.orange-text {
    color: orange;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
}

    .input-group i {
        position: absolute;
        right: 0px; /* Ajusté el icono un milímetro más a la derecha (puedes ajustar este valor a 6px si es necesario) */
        bottom: 2px; 
        transform: translateY(0); /* Para que el icono se quede en la misma línea vertical */
        background-color: purple;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
        width: 35px; /* Mantengo el tamaño del icono */
        height: 35px; /* Mantengo el tamaño del icono */
        display: flex;
        justify-content: center;
        align-items: center;
    }

input, select {
    padding: 10px 40px 10px 10px; /* Aseguramos espacio suficiente para el icono a la derecha */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

    input:focus, select:focus {
        outline: none;
        border-color: purple; /* Resaltar el borde al enfocarse */
    }


.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.btn-login {
    background-color: purple;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

    .btn-login:hover {
        background-color: #fff;
        color: purple;
        border: 2px solid purple;
    }

.image-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
